@import url("https://use.typekit.net/bjf3dnt.css");
.App {
  text-align: center;
  padding: 65px;
  border: 10px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: baskerville-display-pt, serif;
  font-weight: 400;
  color: gray;
}
body {
  margin: 20px;
}

.Header{
  width: 40%;
  height: auto;
}
.nav-routes{
  font-size: 15px;
}
.footer{
  font-size: 12px;
}
.Home{
  position: relative;
}
.Home-img {
  max-width: 75%;
  height: auto;
}
h2{
  font-size: 40px;
  font-weight: 250;
}
.Home-div{
  width: 50%;
  height: auto;
  background-color: #A2885C ;
  color: white;
  position: absolute;
  padding: 10px;
  top: 75px;
  right: 16px;
}

p{
font-family: proxima-nova, sans-serif;
font-size: medium;
font-weight: 300;
}

.footermadeby{
  font-family: hwt-mardell, sans-serif;
  font-weight: 400;
  color: gray;
}
